AddType application/manifest+json .webmanifest
AddType image/svg+xml .svg
AddType video/mp4 .mp4

<IfModule mod_headers.c>
  <FilesMatch "^(service-worker\.js|sw\.js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Service-Worker-Allowed "/"
  </FilesMatch>
</IfModule>
